<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<h3 class="dropdown-headline">
	<f:translate key="sys_action"/>
</h3>
<hr>
<div class="dropdown-table">
	<div class="dropdown-table-row">
		<label>
			<div class="dropdown-table-column dropdown-table-icon">
				<input type="checkbox" id="installToolModules" checked="{states.installToolModules}"/>
			</div>
			<div class="dropdown-table-column dropdown-table-title">
				Toggle new Install Tool modules
			</div>
		</label>
	</div>
</div>
</html>
